<% unless comment.archived? %>
    <p>
        <strong>commenter:</strong>
        <%= comment.commenter %>
    </p>

    <p> 
        <strong>comment:</strong>
        <%= comment.body %>
    </p>
    <p>
        <%= 
            link_to "delete comment", [comment.article, comment],
            method: :delete,
            data: {confirm: "are you sure?"} 
        %>
    </p>
    <p>----------------</p>
<% end %>