
<%= form_with model: article do |form| %>
    <div> 
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <br>
    <div> 
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <br>
        <%= form.fields_for :picture do |f| %>
            <%= f.file_field :mon_image%>

        <%end%>

    </div>
    
    <div>
        <%= form.label :status %>
        <%= form.select :status, ['public','private','archived'], selected: 'public' %>
    </div>

    <div>
        <%= form.submit %>
    </div>

        <div class="errorMessages">
        <% article.errors.full_messages.each do |message| %>
            <div> <%= message %> </div>
        <% end %>
        </div>
<% end %>