<h1>SECTION HTML</h1>

<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li>
                    <%= link_to article.title, article %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

<hr>

<h1>SECTION API</h1>
#de l'article: 
<input id="selected_id" type="text" placeholder="article id default 6"/> <br />
#du comment: 
<input id="selected_commentID" type="text" placeholder="article id default 1"/> <br />
<hr>
<button onclick='sendData({},url_for(), "GET");' >show articles </button>
<button onclick='sendData({},url_for_comment_list(), "GET");' >show comments </button>
<button onclick='sendData({},url_for_comment_list(), "DELETE");'>delete article</button>
<br><br>
<button onclick='sendData({comment: {commenter: "commenter interface", body: "body interface", status: "public"}},url_for_comments(), "POST");'>Add comment</button>
<button onclick='sendData({comment: {commenter: "commenter interface", body: "body interface"}},url_for_comments(), "POST");'>Add comment error</button>
<br><br>
<button onclick='sendData({},url_for_comments_specific(), "GET");'>voir comment</button>
<br><br>
<button onclick='sendData({},url_for_comments_specific(), "DELETE");'>delete comment</button>

<br><br>
<hr>

<br />
Réponse de requête:
<br />
<textarea id="request" rows="25" cols="50"></textarea>
<script>

    function url_for(){
        let id = $("#selected_id").val() || 6;
        return "/api/articles";
    }

    function url_for_comment_list(){
        let id = $("#selected_id").val() || 6;
        return "/api/articles/"+id+"/comments";
    }

    function url_for_comments(){
        let id = $("#selected_id").val() || 6;
        return `/api/articles/${id}/comments/`;
    }

    function url_for_comments_specific(){
        let id = $("#selected_id").val() || 6;
        let commentid = $("#selected_commentID").val() || 1
        return `/api/articles/${id}/comments/${commentid}`;
    }


    function sendData(article, url, method){
        $.ajax({
            method: method,
            url: url,
            data: article,
            dataType: "json"
        }).done(function( msg ) {
            $('#request').val(JSON.stringify(msg));
            //console.log( msg );
        }).fail(function(xhr, msg) {

            $('#request').val('code HTTP: ' + xhr.status + '\n' + xhr.responseText);
        })
        .always(function() {
            //alert( "complete" );
        });
    }
</script>

