<%= link_to 'logout', destroy_user_session_path, method: :delete, class:"w3-bar-item w3-button"%>

<%= link_to  "edit post", edit_article_path(@article) %>
<%= link_to  " | delete post", article_path(@article),
                               method: :delete,
                               data: { confirm: "Are you sure ?"} %>

<br><br>
<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>
<br><br>

<h2>comments: </h2>
<p>----------------</p>

<%= render @article.comments %>

<h2>add a comment: </h2>
<%= render "comments/form" %>


<%= @article.have_picture? ? image_tag(@article.picture.mon_image, class: "image") : "no pictures" %>








