// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image {
    max-width: 300px;
    max-height: 200px;
  }

.errorMessages{
    background-color: pink;
    color: red;
    display: inline-block
}